In [2]:
html = open("tables.html", encoding='utf-8').read()

In [3]:
import pandas as pd

In [4]:
dfs = pd.read_html(html)

In [5]:
len(dfs)

1

In [6]:
hanks = dfs[0].copy()
hanks.describe()

              Year
              Year
count    78.000000
mean   2003.756410
std      11.218243
min    1980.000000
25%    1994.250000
50%    2006.000000
75%    2012.750000
max    2021.000000

In [7]:
hanks.head()

   Year                      Title Credited as                 \
   Year                      Title       Actor Producer Other
0  1980      He Knows You're Alone         Yes       No    No
1  1984                     Splash         Yes       No    No
2  1984             Bachelor Party         Yes       No    No
3  1985  The Man with One Red Shoe         Yes       No    No
4  1985                 Volunteers         Yes       No    No

                               Notes Ref(s)
                       Role(s) Notes Ref(s)
0                       Elliot   NaN    [2]
1                  Allen Bauer   NaN    [3]
2                  Rick Gassko   NaN   [30]
3          Richard Harlan Drew   NaN   [31]
4  Lawrence Whatley Bourne III   NaN   [32]

In [10]:
for col in hanks.columns:
    print(col)

('Year', 'Year')
('Title', 'Title')
('Credited as', 'Actor')
('Credited as', 'Producer')
('Credited as', 'Other')
('Credited as', 'Role(s)')
('Notes', 'Notes')
('Ref(s)', 'Ref(s)')

In [13]:
hanks.columns = ['year', 'title', 'actor', 'producer', 'others', 'role', 'notes', 'ref']
hanks.head()

,year,title,actor,producer,others,role,notes,ref
0,1980,He Knows You're Alone,Yes,No,No,Elliot,NaN,[2]
1,1984,Splash,Yes,No,No,Allen Bauer,NaN,[3]
2,1984,Bachelor Party,Yes,No,No,Rick Gassko,NaN,[30]
3,1985,The Man with One Red Shoe,Yes,No,No,Richard Harlan Drew,NaN,[31]
4,1985,Volunteers,Yes,No,No,Lawrence Whatley Bourne III,NaN,[32]

In [14]:
new =hanks[hanks['actor']=='Yes'].copy()

In [15]:
new.head()

,year,title,actor,producer,others,role,notes,ref
0,1980,He Knows You're Alone,Yes,No,No,Elliot,NaN,[2]
1,1984,Splash,Yes,No,No,Allen Bauer,NaN,[3]
2,1984,Bachelor Party,Yes,No,No,Rick Gassko,NaN,[30]
3,1985,The Man with One Red Shoe,Yes,No,No,Richard Harlan Drew,NaN,[31]
4,1985,Volunteers,Yes,No,No,Lawrence Whatley Bourne III,NaN,[32]

In [23]:
new.drop(['producer', 'others','notes', 'ref'], axis=1, inplace=True)

KeyError: "['producer' 'others' 'notes' 'ref'] not found in axis"

In [25]:
new.head()
new['wet'] = "No"
new.to_csv('hanks-actor.csv', index=False)